:root {
  --text-color: #7d78fd;
  --bg-color: #111111;
}

html, body {
  height: 100%; 
}
body {
  margin: 0;
  font-family: 'IBM Plex Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  color: var(--text-color);
  display: grid;
  place-items: center;
  text-align: center;

  background-color: var(--bg-color);
}

canvas#space-colonization {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}