:root {
  --text-color: white; /* hsl(330, 90%, 70%); */
  --bg-color: #0000ff;
  --margin-color: #0000aa;
}

html {
  height: auto;
  min-height: 100%;
}
body {
  margin: 0;
  height: auto;
  min-height: 100%;
  
  color: var(--text-color);
  background-color: var(--margin-color);
  
  font-family: 'IBM Plex Mono', 'IBM Plex Mono', monospace;
  text-transform: uppercase;

  ascent-override: 88%;
  descent-override: 24%;
  line-gap-override: 0%;
  size-adjust: 100%;


  padding: 4vw 4vw 0 4vw;
}

body::after {
  content: "";
  display: block;
  height: 4vw;
}

header {
  text-align: center;
}

h1, h2, hr, h4, h5, p, span.cursor {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 3.75vw; /*clamp(2.5rem, 8vw, 8rem); */
  line-height: 1.26;
  
  /* Allow long unbroken strings to wrap within viewport */
  overflow-wrap: anywhere;
  word-break: break-word;
  letter-spacing: 0.01em;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0, "calt" 0;
  font-optical-sizing: none;
  -webkit-text-size-adjust: 100%;
  margin: 0;
}

div.container {
  background-color: var(--bg-color);
  box-sizing: border-box;
  margin: 0;
  min-height: calc(100vh - 8vw);
 
  overflow: hidden;
}

.cursor {
  animation: blink 750ms infinite;
}

@keyframes blink {
  0% { background-color: var(--text-color); }
  100% { background-color: transparent; }
}