:root {
  --text-color: #7d78fd;
  --bg-color: #111111;
}

html, body {
  height: 100%; 
}
body {
  margin: 0;
  font-family: 'IBM Plex Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  color: var(--text-color);
  display: grid;
  place-items: center;
  text-align: center;

  background-color: var(--bg-color);
}

h1 {
  position: relative;
  margin: 0;
  font-weight: 400;
  font-size: clamp(2.5rem, 8vw, 8rem);
  line-height: 1.1;
  letter-spacing: 0.02em;
}

canvas#space-colonization {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}