:root {
  
  --bg-color: #76CAFC; /* #CCDBF4; */
  --text-color: var(--bg-color); /* #02beab; */

  --circle-size: 200vw; /* max(300vh, 300vw); */
  --border-width: 10px;

  --border-width-min: 2vw;
  --border-width-max: 30vw;

  --border-color: var(--text-color);

  --hour-color: #F94C5F;
  --minute-color: #FCA03B;
  --second-color: #2D37D7;

  /* --hour-color-light: #FD6353;
  --minute-color-light: #FCBC4E;
  --second-color-light: #4476C3; */
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: "IBM Plex Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;

  font-style: normal;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  padding: 0;

  background-color: var(--bg-color);
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-style: normal;
  font-size: 12vw;
}

h1 {
  z-index: 3;
}


main {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  height: 100lvh;
  overflow: hidden;
}

section {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--circle-size);
  height: var(--circle-size);
}

.circle {
  --border-width: calc(var(--border-width-min) + var(--fraction) * (var(--border-width-max) - var(--border-width-min)));
  position: absolute;
  z-index: 1;
  top:0;
  left:0;
  width: var(--circle-size);
  height: var(--circle-size);
  border-radius: 100%;
  /* border: var(--border-width) solid var(--border-color); */
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--border-color);
  background-color: transparent;
  transform: translate(
    calc(var(--offset-x) * var(--circle-size) / 2),
    calc(var(--offset-y) * var(--circle-size) / 2)
  );
  transform-origin: center center;
}

.circle::after {
  content: '';
  position: absolute;
  z-index: 2;
  bottom: 50%;
  left: calc(50% - var(--border-width) / 2);
  height: calc(var(--circle-size) / 2);
  width: var(--border-width);
  background-color: var(--border-color);
  transform-origin: bottom center;
  transform: rotate(var(--angle));
  display: none;
}

.hour {
  --border-color: var(--hour-color);
  color: var(--hour-color);
}

.minute {
  --border-color: var(--minute-color);
  color: var(--minute-color);
}

.second {
  --mix-color: color-mix(in srgb,
    var(--second-color) calc(var(--fraction) * 100%),
    var(--second-color-light)
  );
  
  --border-color: var(--second-color);
  color: var(--second-color);
}