:root {
  --bg-color: #111;
  --text-color: var(--bg-color);
  --shadow-color: #ff0000;
  --offset-x: 10px;
  --offset-y: 0px;
}

html, body {
  height: 100%; 
}
body {
  margin: 0;
  font-family: 'IBM Plex Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  color: var(--text-color);
  display: grid;
  place-items: center;
  text-align: left;
  text-transform: uppercase;
  background-color: var(--bg-color);
  user-select: none;
  touch-action: none;
}

h1 {
  position: relative;
  isolation: isolate;
  color: var(--text-color);
  font-weight: 700;
  font-style: normal;
  font-size: 14vw;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

h1 span {
  position: relative;
  z-index: 1;
  color: transparent; /* USing pseudo elements to display text */
}

h1 span::before {
  z-index: 0;
  content: attr(data-letter);
  position: absolute;
  inset: 0;
  color: var(--shadow-color);
  color: hsl(var(--angle), 100%, 50%);
  transform: translate(var(--offset-x), var(--offset-y));
}

h1 span::after {
  z-index: 2;
  content: attr(data-letter);
  position: absolute;
  inset: 0;
  color: var(--text-color); 
}