body.metervara-sketches{
  /* --block-gap: 10px; */

  --block-border-color: #000; /*#ff9933; */ 
  --block-background-color: #000;

  --background-color: #000; /* #12127a; */ /* #2020cf; */
  --grid-color-vertical: #ED446A; 
  --grid-color-horizontal: #57BABC;

  --text-color: #faf3d1;
  --header-sub-color: #45e0e3; /*#ffea81; */ 
  --header-main-color: var(--header-sub-color); /* #f76eb3; */

  --block-border-width: 0px;
}

/* Global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

html, body {
  width: 100vw;
  height: 100svh;
  overflow: hidden;

  background-color: var(--background-color);
  color: var(--text-color);
  
  font-family: 'IBM Plex Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: var(--default-font-weight);
  font-variation-settings: "wdth" var(--default-font-weight);
  /* line-height: 1.2; */

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Header styles */
h1, h2 {
  /* font-family: 'IBM Plex Mono', monospace; */
  font-size: max(4rem, min(10vw, 16vh));
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  margin: var(--block-gap);
}

h1 {
  color: var(--header-main-color);
}

h2 {
  color: var(--header-sub-color);
}


h3{
  font-weight: var(--default-font-weight);
  font-variation-settings: "wdth" var(--default-font-weight);
}

/* Description styles */
p.description {

  display: block;
  font-size: 1.17em;
  padding-top: 20px;
  font-weight: var(--default-font-weight);
  font-variation-settings: "wdth" var(--default-font-weight);
  max-width: 700px;


  & span {
    display: inline;
    background-color: var(--header-main-color); /*var(--tag-header-background-color); */
    color: var(--background-color); /* var(--tag-header-text-color); */
    /* padding: 2px 0; */
  }
}

/* Grid listing styles */
.fixed-header {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  justify-content: center;
}
/* HEader above the gap */
header.fixed-header {
  top: calc((var(--header-row) - 1) * (var(--block-height) + var(--block-gap)));
  
  
  padding: 0;
  border: none;
  
}

.fixed-header.description-header {
  /* justify-content: flex-end; */

  padding: 0;
  border: none;
}

#info-container {
  position: absolute;
  inset: 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--block-gap);
  align-content: flex-start;
  border: none;

  & > .block {
    position: relative;
    width: var(--block-width);
    height: var(--block-height);
    overflow: hidden;
    /* padding: 0 var(--block-gap); */
    /* background-color: #333; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & > .info-item {
      position: relative;
      /* background-color: var(--grid-color-horizontal); */
      padding: var(--block-gap);
      transition: transform 200ms ease-out, color 200ms linear;
      transition-delay: 0ms;
      color: transparent;

      &.top {
        /* padding-bottom: var(--block-gap); */
        transform: translateY(-100%);
      }
      &.bottom {
        /* padding-top: var(--block-gap); */
        transform: translateY(100%);
      }
    }
  }
}

#info-container.show-info {
  & > .block {
    & > .info-item {
      transition-delay: var(--info-item-in-delay, 0ms);
      /* background-color: #ff0000; */
      transform: translateY(0);
      color: inherit;
    }
  }
}