:root {
  --text-color: white;
  --bg-color: #333333;

  --skew-amount: 10deg;
}

html, body {
  height: 100%; 
}
body {
  margin: 0;
  font-family: 'IBM Plex Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;

  background-color: var(--bg-color);
}

h1 {
  margin: 0;
  font-weight: 400;
  font-size: clamp(2.5rem, 8vw, 8rem);
  line-height: 1.1;
  letter-spacing: 0.02em;
}

p.instructions {
  color: white;
}