:root {
  --text-color: white;
  --bg-color: #333333;

  --skew-amount: 10deg;
}

html, body {
  height: 100%; 
}
body {
  margin: 0;
  font-family: 'IBM Plex Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;

  background-color: var(--bg-color);
}

h1 {
  --fold: 20;              /* try 0–20 */
  --scale-k: 0.01;
  margin: 0;
  font-weight: 400;
  font-size: clamp(2.5rem, 8vw, 8rem);
  line-height: 1.1;
  /* letter-spacing: 0.02em; */
  display:flex;
  gap:0.02em;
}

h1 span {
  display: inline-block;
  border: 1px solid red;
  --dir: 1;
}

h1 span:not(.dot) {
  transform:
    skewY(calc(var(--fold) * var(--dir) * 1deg))
    scaleX(calc(1 - (var(--fold) * var(--scale-k))));
}

h1 span:not(.dot):nth-child(even) { 
  --dir: -1; 
}

h1 span.dot {
  border-color: blue;
}

p.instructions {
  color: white;
}