:root {
  --text-color: hsl(330, 90%, 70%);
  --bg-color: #0000ff;
}

html, body {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: 'IBM Plex Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  color: var(--text-color);
  display: grid;
  place-items: center;
  text-align: center;

  background-color: var(--bg-color);
}

main {
  width: 100vw;
  height: 100vh;
  height: 100lvh;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: hue-shift 5s linear infinite;
}

@keyframes hue-shift {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}