:root {
  --headline-color: #ffff00;
  /* --text-color: #7d78fd; */
  --bg-color: #111111;
  --split-height: 35vh;
  
  --shadow-color: var(--bg-color);/* red;/* rgba(17, 17, 17, 0.5); */
  --shadow-offset: 0.5vw;
  
  --content-bg-color: blue;
  --content-bg-color-dark: #000099;
  --content-bg-color-light: #3131fd;
  
  --text-color: #ffff00;
  --text-color-dark: #8686ff;
  --text-color-light: #fefe99;

  --peak: 0%;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%; 
}
body {
  margin: 0;
  font-family: 'IBM Plex Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  color: var(--text-color);
  display: grid;
  place-items: center;
  text-align: left;

  background-color: var(--bg-color);
}

h1 {
  position: fixed;
  z-index: 2;
  color: var(--headline-color);
  inset: 0;
  margin: 0;
  font-weight: 400;
  font-style: normal;
  /* font-size: clamp(2.5rem, 8vw, 8rem); */
  font-size: 14vw;
  line-height: 1.1;
  letter-spacing: 0.02em;
  display:flex;
  align-items: center;
  justify-content: center;

  text-shadow: var(--shadow-offset) var(--shadow-offset) var(--shadow-color);

  /* pointer-events: none; */
}

p {
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  
  & span {
    padding: 0 0.25em;
    display: inline-block;
    white-space: nowrap;
    /* background-color: var(--content-bg-color); */
    background-color: color-mix(in srgb, var(--content-bg-color-dark) var(--peak), var(--content-bg-color) calc(100% - var(--peak)));
    color: color-mix(in srgb, var(--text-color-dark) var(--peak), var(--text-color) calc(100% - var(--peak)));
    box-shadow: var(--shadow-offset) var(--shadow-offset) var(--shadow-color);
  }
}

.right span {
  background-color: color-mix(in srgb, var(--content-bg-color-light) var(--peak), var(--content-bg-color) calc(100% - var(--peak)));
  color: color-mix(in srgb, var(--text-color-light) var(--peak), var(--text-color) calc(100% - var(--peak)));
}

main {
  margin: 0 auto;
  /* width: 48.5vw; */
  padding-top: 75vh;
  padding-bottom: 75vh;
}

/* Keep original main in flow for scroll height but hide it visually */
body > main.scroll-host {
  visibility: hidden;
  pointer-events: none;
}


.split {
  --angle: 0deg;
  --offset: 0px;
}

/* Overlay that holds the full, transform-driven clone */
.follower {
  position: fixed;
  z-index: 0;
  inset: 0;
  /* pointer-events: none; */
  overflow: hidden;
}

.follower > main {
  position: relative;
  transform: translate(0, var(--scroll-top));
  margin: 0 auto;
  will-change: transform;
}

.left {
  position: fixed;
  z-index: 1;
  
  inset: var(--split-height) 50% var(--split-height) 0;
  
  /* background: green; */
  & > .item {
    /* border: 1px dashed red; */
    transform-origin: right center;
  }
}

.left::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  
  background-color: var(--bg-color);
}

.right {
  position: fixed;
  z-index: 3;
  
  inset: var(--split-height) 0 var(--split-height) 50%;
  & > .item {
    /* border: 1px dashed green; */
    transform-origin: left center;
  }
}

.split .item {
  position: relative;
  width:100%;
  height: var(--split-segment-height);

  transform: translateX(var(--offset)) skewX(var(--angle));
  overflow: hidden;
  

  /* border: 1px dashed red; */
}

.split .item main {
  position: absolute;

  top: calc(-1 * (var(--split-top) + var(--top)));

  width: var(--content-width);
  height: var(--content-height);

  transform: translate(0, var(--scroll-top));

  /* optional: isolate to avoid painting spillover with heavy effects */
  contain: paint layout style;

}

.split .left .item main {
  /* left: 25vw; */
  right: calc(-0.5 * var(--content-width));
}
.split .right .item main {
  /* left: -25vw; */
  left: calc(-0.5 * var(--content-width));
}

/* @media screen and (max-width: 768px){
  h1 {
    font-size: 15vw;
  }
  main {
    width: 90vw;
  }
} */